<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <appender name="fileOut" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>%d{MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    </appender>
<!--
    &lt;!&ndash;输出到文件&ndash;&gt;
    <appender name="fileOut" class="ch.qos.logback.core.FileAppender">
    &lt;!&ndash;日志文件地址&ndash;&gt;
    <file>E:/logback.log</file>
    &lt;!&ndash;追加模式&ndash;&gt;
    <append>true</append>
    <encoder>
        <pattern>%d{MM-dd HH:mm:ss} [#thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>

</appender>

    &lt;!&ndash;&lt;!&ndash;按天输出到文件|&ndash;&gt;&ndash;&gt;
    &lt;!&ndash;&lt;!&ndash;设置输出文件父目录名&ndash;&gt;&ndash;&gt;

    <property name="LOG_HOME" value="E:/logs"></property>
    <appender name="fileOut" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="cn.qos.logback.core.rolling.TimeBaseRollingPolicy">
            &lt;!&ndash;设置文件输出文件夹名&ndash;&gt;
            <FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}.log</FileNamePattern>
            &lt;!&ndash;日志保留天数&ndash;&gt;
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>-->
    <root level="trace">
        <appender-ref ref="fileOut"/>
    </root>
</configuration>


<!--<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="LOG_HOME" value="E:/logs"/>
    <appender name="rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            &lt;!&ndash;日志文件输出的文件名&ndash;&gt;
            <FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}.log</FileNamePattern>
            &lt;!&ndash;日志文件保留天数&ndash;&gt;
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        &lt;!&ndash;日志级别过滤器&ndash;&gt;
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>

        </filter>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="rolling" />
    </root>
</configuration>-->

